@{
    ViewBag.Title = "Настройка обследований по приказу";
    ViewBag.PageId = "order-examinations";
}
<div class="mb-3">
    <h3>Обследования по приказу</h3>
</div>
<table class="table" id="Examinations">
    <thead>
        <tr>
            <th>Название по приказу</th>
            <th>Группа</th>
            <th>Услуга по умолчанию</th>
        </tr>
    </thead>
</table>
