@{
    ViewBag.Title = "Настройка приказа";
    ViewBag.PageId = "order-items";
}
<div class="mb-3">
    <h3>Приказ 29н</h3>
</div>
<table id="OrderItems" class="table">
    <thead>
        <tr>
            <th>Пункт</th>
            <th>Название</th>
            <th>Обследования</th>
        </tr>
    </thead>
</table>
