@{
    ViewBag.Title = "Заявки на регистрацию";
    ViewBag.PageId = "register-requests";
}
<h3>Заявки на регистрацию в системе</h3>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" data-toggle="tab" href="#tab-new-requests" role="tab" aria-selected="true">Новые</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#tab-processed-requests" role="tab" aria-selected="false">Обработанные</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane show active pt-3" id="tab-new-requests" role="tabpanel">
        <table id="NewRegisterRequests" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Название клиники</th>
                    <th>Контактное лицо</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tab-pane pt-3" id="tab-processed-requests" role="tabpanel">
        <table id="ProcessedRegisterRequests" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Название клиники</th>
                    <th>Контактное лицо</th>
                    <th>Статус</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

