@{
    ViewBag.Title = "О калькуляторе";
}
<div class="jumbotron">
    <h1 class="display-4">Упростите оформление медицинских осмотров!</h1>
    <p class="lead">Тратьте меньше времени на расчет стоимости</p>
    <hr class="my-4">
    <p>Для начала работы заполните небольшую форму</p>
    <a class="btn btn-primary btn-lg" href="~/Register/CreateRequest" role="button">Отправить заявку</a>
</div>